{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<h2>Entry Search</h2>
<div>
    <table>
        <tr>
            <td align="left">Service:</td>
            <td>
                <form action="{{ url_for('find_entry') }}" method="post" autocomplete="off" id="serviceForm">
                    <input type="text" name="service" placeholder="Service" id="service" required>
                </form>
            </td>
        </tr>
        <tr>
            <td align="left">Username/Email:</td>
            <td>{{ username }}</td>
        </tr>
        <tr>
            <td align="left">Password:</td>
            <td>{{ password }}</td>
        </tr>
        <tr>
            <td align="left">
                <div class="msg">{{ msg }}</div>
            </td>
            <td><input onclick="submit()" type="submit" value="Submit" id="submitBtn"></td>
        </tr>
    </table>
</div>
<script src="{{ url_for('static', filename='scripts.js') }}"></script>

{% endblock %}
